*{
    margin: 0px;
    padding: 0px;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainDiv{
    height: 70vh;
    width: 40vw;
    border: 2px solid black;
    padding: 5px;
    border-radius: 5px;
}

.screen{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: end;
    align-items: center;
    box-sizing: border-box;
    word-wrap: break-word;
    overflow-wrap: break-word;
    margin-top: auto;
    font-size: larger;
    font-family: serif;
}

.dialPad{
    height: 80%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

.lastBtn{
    grid-column: span 2;
}

button{
    font-size: medium;
    font-family: sans-serif;
    background-color: rgb(31, 29, 29);
    border-radius: 15px;
}

button:hover{
    background-color: rgb(20, 19, 19);
}

.normalBtn{
    color: white;
}
.specialBtn{
    color: rgb(255, 102, 0);
}